table{
    border-collapse: collapse;
}
thead, tr,th {
    border: solid 15px rgba(199, 64, 64, 0) ;
    background-color: rgb(239, 241, 241);
    padding: 1px ;

}
tbody, th ,tr{
    border: solid 1px rgb(15, 15, 15) ;
    padding: 1px ;

}
tfoot, td {
    border: solid 1px rgb(179, 36, 36) ;
    padding: 1px ;
}